{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block custom_css %}
<style>
  .hero-section {
    background-image: url("{% static 'dist/img/buss.jpeg' %}");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    position: relative;
  }
  .hero-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .hero-content {
    position: relative;
    text-align: center;
    z-index: 1;
    max-width: 600px;
    margin: auto;
  }
  .hero-title {
    font-size: 3em;
    margin-bottom: 20px;
  }
  .hero-text {
    font-size: 1.2em;
    margin-bottom: 40px;
  }
  .hero-button {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  .hero-button:hover {
    background-color: #0056b3;
  }
</style>
{% endblock custom_css %}

{% block body %}
<!-- Hero Section -->
<div class="hero-section">
  <div class="hero-overlay"></div>
  <div class="hero-content">
    <h1 class="hero-title">Travel with Comfort and Convenience</h1>
    <p class="hero-text">Experience seamless and hassle-free bus reservations. Choose your destination, select your seat, and enjoy your journey. Reserve your seat now to ensure a smooth and comfortable ride.</p>
    <a href="{% url 'signin' %}" class="hero-button">Reserve Your Seat</a>
  </div>
</div>
{% endblock body %}
