{% load static %}
  
<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
  <div class="container">
    <a href="#" class="navbar-brand">
      <img src="{% static 'dist/img/KadpolyLogo.jpg' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">KADPOLY RIDE</span>
    </a>

    <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-3" id="navbarCollapse">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          {% url 'passenger_home' as passenger_home %}
          <a href="{{ passenger_home }}" class="nav-link {% if request.path == passenger_home %} active {% endif %}">Home</a>
        </li>
        <li class="nav-item">
          {% url 'schedules' as schedules %}
          <a href="{{ schedules }}" class="nav-link {% if request.path == schedules %} active {% endif %}">Schedules</a>
        </li>
        <li class="nav-item">
          {% url 'make_reservation' as make_reservation %}
          <a href="{{ make_reservation }}" class="nav-link {% if request.path == make_reservation %} active {% endif %}">Make Reservation</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Payments</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Tickets</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Profile</a>
        </li>
        <li class="nav-item">
          <a href="{% url "logout" %}" class="nav-link" style="float: right;">LogOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- /.navbar -->