{% extends 'admin_templates/base.html' %}
{% block body %}
    <!-- Main content -->
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Payment</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="{% url "add_payment_save" %}" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Student</label>
                    <select name="student" class="form-control">
                      {% for student in students %}
                      <option value="{{ student.admin.id }}">{{ student.admin.username }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Schedule</label>
                    <select name="schedule" class="form-control">
                      {% for schedule in schedules %}
                      <option value="{{ schedule.id }}">From {{ schedule.route.origin }} To {{ schedule.route.destination }} On {{ schedule.departure_time }}</option>
                      {% endfor %}
                  </select>
                  </div>
                  <div class="form-group">
                    <label>Amount</label>
                    <input type="number" class="form-control" name="amount" placeholder="Amount" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label>Payment Status</label>
                    <select name="payment_status" class="form-control">
                      <option value="comfirm">Comfirm</option>
                      <option value="pending">Pending</option>
                      <option value="cancelled">Cancelled</option>
                  </select>
                  <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                  </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Add Payment</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
          </div>
    <!-- /.content -->
{% endblock body %}