{% extends 'admin_templates/base.html' %}
{% block body %}
    <!-- Main content -->
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Route</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="{% url "add_bus_route_save" %}" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Origin</label>
                    <input type="text" class="form-control" name="origin" placeholder="Origin" id="id_origin" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label>Destination</label>
                    <input type="text" class="form-control" name="destination" placeholder="Destination" id="id_destination" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label>Distance</label>
                    <input type="number" class="form-control" name="distance" placeholder="Distance" id="id_distance" autocomplete="off">
                  </div>
                  <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                  </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Add Route</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
          </div>
    <!-- /.content -->
{% endblock body %}