{% extends 'admin_templates/base.html' %}
{% block body %}
    <!-- Main content -->
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Bus</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="{% url "edit_bus_save" %}" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Bus Number</label>
                    <input type="text" class="form-control" name="bus_number" placeholder="Bus Number" id="id_bus_number" value="{{ bus.bus_number }}" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label>Capacity</label>
                    <input type="number" class="form-control" name="capacity" placeholder="Capacity" id="id_capacity" value="{{ bus.capacity }}" autocomplete="off">
                    <input type="hidden" class="form-control" name="bus_id" value="{{ bus.id }}">
                  </div>
                  <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                  </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Save Bus</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
          </div>
    <!-- /.content -->
{% endblock body %}